@import 'header';
@import 'footer';

main {
  background-color: $lightgrey;

  & > .container {
    background-color: $white;

    & > .row {
      padding-top: 40px;
      padding-bottom: 40px;
      margin-left: 0;
      margin-right: 0;
    }
  }

  form {
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
  }
}
