header {
  background-color: $lightorange;

  .navbar {
    &-logo {
      font-family: $pacifico;
      color: $white;
      text-shadow: 0px 0px 2px $darkgrey;

      & > a {
        font-size: 27px;
        color: $white;
      }

      & > * {
        padding: 0;
        margin: 0;
      }

       & > div {
        font-size: 12px;
         text-align: center;

         img {
           width: 50px;
           margin-top: -8px;
         }
      }
    }

    &-links {

    }
  }
}