.task {
  &-thumbnail {
    width: 90%;
    margin: auto;
    border: 1px solid $grey;
    border-radius: 10px;
    box-shadow: 0px 0px 38px 1px $grey;

    .row {
      margin: 0;
    }
  }

  &-title {
    background: $red;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5px 0;

    &.done {
      background: $green;
    }

    a, i {
      color: $white;
    }

    h4 {
      text-align: left;
      font-size: 18px;
    }

    .col-2 {
      position: relative;
      i {
        position: absolute;
        top: 5px;
        right: 10px;
      }
    }
  }

  &-body {
    p {
      color: darken($darkgrey, 20%);
    }

    form {
      margin: 0;
      .btn {
        margin:0 0 10px 0;
      }
    }
  }
}