{% extends 'base.html.twig' %}

{% block body %}
    <h1>Se connecter</h1>
    {% if error %}
        <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form method="post">
        <div class="form-group">
            <label for="username">Nom d'utilisateur :</label>
            <input class="form-control" type="text" id="username" name="username" value="{{ last_username }}" />
        </div>

        <div class="form-group">
            <label for="password">Mot de passe :</label>
            <input class="form-control" type="password" id="password" name="password" />
        </div>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        <button class="btn btn-info" type="submit">Se connecter</button>
    </form>
{% endblock %}
