@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");
.btn {
  margin: 10px;
}
.btn-primary {
  background-color: #fd894f;
  border-color: #fd894f;
}
.btn-primary:hover {
  background-color: #fc671d;
  border-color: #fc671d;
}
.btn-primary.btn-outlined {
  background: transparent;
  color: #fd894f;
}

header {
  background-color: #fb9;
}
header .navbar-logo {
  font-family: "Pacifico", cursive;
  color: #fff;
  text-shadow: 0px 0px 2px #bebbbb;
}
header .navbar-logo > a {
  font-size: 27px;
  color: #fff;
}
header .navbar-logo > * {
  padding: 0;
  margin: 0;
}
header .navbar-logo > div {
  font-size: 12px;
  text-align: center;
}
header .navbar-logo > div img {
  width: 50px;
  margin-top: -8px;
}
footer {
  background-color: #fb9;
  color: #fff;
  padding: 30px 0;
}

main {
  background-color: #e8e8e8;
}
main > .container {
  background-color: #fff;
}
main > .container > .row {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-left: 0;
  margin-right: 0;
}
main form {
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
}

.homepage-book {
  width: 90%;
  max-width: 300px;
}

.task-thumbnail {
  width: 90%;
  margin: auto;
  border: 1px solid #bebbbb;
  border-radius: 10px;
  box-shadow: 0px 0px 38px 1px #bebbbb;
}
.task-thumbnail .row {
  margin: 0;
}
.task-title {
  background: #c82333;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 5px 0;
}
.task-title.done {
  background: #aec89c;
}
.task-title a, .task-title i {
  color: #fff;
}
.task-title h4 {
  text-align: left;
  font-size: 18px;
}
.task-title .col-2 {
  position: relative;
}
.task-title .col-2 i {
  position: absolute;
  top: 5px;
  right: 10px;
}
.task-body p {
  color: #8c8787;
}
.task-body form {
  margin: 0;
}
.task-body form .btn {
  margin: 0 0 10px 0;
}

/*# sourceMappingURL=main.css.map */
