@mixin button-styles ($color) {
    background-color: $color;
    border-color: $color;

    &:hover {
      background-color: darken($color, 10%);
      border-color: darken($color, 10%);
    }

    &.btn-outlined {
      background: transparent;
      color: $color;
    }
}

.btn {
  margin: 10px;

  &-primary {
    @include button-styles($orange);
  }
}