{% extends 'base.html.twig' %}

{% block body %}
    {% for flash_message in app.session.flashBag.get('success') %}
        <div class="alert alert-success">{{ flash_message }}</div>
    {% endfor %}
    <div class="text-center mb-3">
        <img class="homepage-book" src="{{ asset('img/book.png') }}" alt="Todo List">
    </div>
    <h1>Todo List, l'application vous permettant de gérer l'ensemble de vos tâches sans effort</h1>
    <p>Bienvenue sur notre plateforme de gestion de vos tâches quotidiennes !</p>
    <p>Vous pourrez enregistrer une multitude de choses à faire, et ce à la seule condition de vous inscrire (et c'est très rapide, promis). Déclaration d'impôts, cadeaux d'anniversaire à acheter... N'oubliez plus rien !</p>
    {% if not app.user %}
    <a href="{{ path('user_create') }}" class="btn btn-primary mt-5">Je souhaite me créer un compte !</a>
    {% endif %}
{% endblock %}
