{% extends 'base.html.twig' %}

{% block body %}
    {% for flash_message in app.session.flashBag.get('success') %}
        <div class="alert alert-success">{{ flash_message }}</div>
    {% endfor %}
    <div class="text-center mb-3">
        <img class="homepage-book" src="{{ asset('img/todo.jpg') }}" alt="Todo List">
    </div>
    <h2>Bienvenue {{ app.user.username }} !</h2>
    <p>Aidez-vous des boutons ci-dessous pour gérer vos tâches !</p>
    <a href="{{ path('task_create') }}" class="btn btn-primary">Créer une nouvelle tâche</a>
    <a href="{{ path('todo_task_list') }}" class="btn btn-info">Consulter la liste des tâches à faire</a>
    <a href="{{ path('done_task_list') }}" class="btn btn-secondary">Consulter la liste des tâches terminées</a>
    {% if app.user.isAdmin %}
    <h3 class="mt-5">Tâches anonymes</h3>
    <p>En tant qu'admin, vous avez accès aux tâches qui ne sont liées à aucun utilisateur. Vous pouvez les supprimer si besoin.</p>
        <a href="{{ path('anonymous_tasks') }}" class="btn btn-secondary">Consulter les tâches anonymes</a>
    {% endif %}
{% endblock %}
