{% extends 'base.html.twig' %}

{% block body %}
    <div class="text-left">
        <a href="{{ path('profile') }}" class="btn btn-primary btn-outlined">Retour à la page profil</a>
    </div>
    <h2>{{ title }}</h2>
    {{ form_start(form) }}
        {{ form_widget(form) }}

        <button type="submit" class="btn btn-info pull-right">Envoyer</button>
    {{ form_end(form) }}

{% endblock %}
