{% extends 'base.html.twig' %}

{% block body %}
    {% for flash_message in app.session.flashBag.get('success') %}
        <div class="alert alert-success">{{ flash_message }}</div>
    {% endfor %}
    <h2 class="mb-4">Tâches {{ statusTask }}</h2>
    <div class="row mt-4">
        {% for task in tasks %}
            <div class="col-sm-4 mb-4">
                <div class="task-thumbnail">
                    <div class="row task-title {% if task.isDone %}done{% endif %}">
                        <div class="col-10">
                            <h4 style="color: white;">
                                {% if is_granted('edit', task) and task.isDone == false %}
                                <a href="{{ path('task_edit', {'id' : task.id }) }}">{{ task.title }}</a>
                                {% else %}
                                {{ task.title }}
                                {% endif %}
                            </h4>
                        </div>
                        <div class="col-2">
                            {% if task.isDone %}
                                <i class="fas fa-check"></i>
                            {% else %}
                                <i class="fas fa-times"></i>
                            {% endif %}
                        </div>
                    </div>
                    <div class="task-body mt-3">
                        <p>{{ task.content }}</p>
                        {% if is_granted('edit', task) %}
                        <form action="{{ path('task_toggle', {'id' : task.id }) }}">
                            <button class="btn btn-success btn-sm pull-right">
                                {% if not task.isDone %}Marquer comme faite{% else %}Marquer non terminée{% endif %}
                            </button>
                        </form>
                        {% endif %}
                        {% if is_granted('delete', task) %}
                        <form action="{{ path('task_delete', {'id' : task.id }) }}">
                            <button class="btn btn-danger btn-sm pull-right">Supprimer</button>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% else %}
            <div class="alert alert-warning" role="alert">
                Il n'y a pas encore de tâche enregistrée.
            </div>
        {% endfor %}
    </div>
{% endblock %}
