<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Todo List </title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
        <link href="{{ asset('css/main.css') }}" rel="stylesheet">
    </head>

    <body>
        <header>
            <div class="container">
                <nav class="navbar navbar-fixed-top" role="navigation">
                        <div class="navbar-logo">
                            <a class="navbar-brand" href="{{ path('homepage') }}">Todo List</a>
                            <div>
                                by <img src="{{ asset('img/Logo_OpenClassrooms.png') }}" alt="OpenClassrooms" />
                            </div>
                        </div>

                        <div class="navbar-links">

                            {% if app.user %}
                                {% if app.user.isAdmin %}
                                <a href="{{ path('user_list') }}" class="btn btn-primary">Gérer les utilisateurs</a>
                                {% endif %}
                                <a href="{{ path('profile') }}" class="btn btn-info">Gérer les tâches</a>
                            <a href="{{ path('logout') }}" class="btn btn-danger">Se déconnecter</a>
                            {% else  %}
                                <a href="{{ path('user_create') }}" class="btn btn-primary">S'inscrire</a>
                                <a href="{{ path('login') }}" class="btn btn-info">Se connecter</a>
                            {% endif %}
                        </div>
                </nav>
            </div>
        </header>

        <main>
            <div class="row flashes">
                <div class="col-md-12">
                    {% for flash_message in app.session.flashBag.get('success') %}
                        <div class="alert alert-success" role="alert">
                            <div class="container">
                                <strong>Superbe !</strong> {{ flash_message }}
                            </div>
                        </div>
                    {% endfor %}

                    {% for flash_message in app.session.flashBag.get('error') %}
                        <div class="alert alert-danger" role="alert">
                            <div class="container">
                                <strong>Oops !</strong> {{ flash_message }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        {% block body %}{% endblock %}
                    </div>
                </div>
            </div>
        </main>

        <footer>
            <div class="container">
                <p class="text-right">Copyright &copy; OpenClassrooms</p>
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>
