{% extends 'base.html.twig' %}
{% block title %}La page est introuvable... - SnowTricks{% endblock %}
{% block body %}
    <div class="container">
        <img class="homepage-book" src="{{ asset('img/oops.jpg') }}" alt="Todo List">
        <h1>La page n'existe pas...</h1>
        <h2>Vous avez déclenché une erreur 404... Bravo !</h2>
        <p>Vous n'avez plus qu'à retourner à l'accueil ! Si ce message est inopiné, merci de contacter l'administratrice.</p>
    </div>
{% endblock %}