{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ title }}</h1>
    <div class="row">
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary">Envoyer</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
